<header class="header align-items-center">
  <span class="header__title">Delishus</span>
  <section class="header__menu align-items-center">
    <section class="header__menu--left">
      <ul>
        <li>
          <button type="button" class="btn btn-link">Dashboard</button>
        </li>
        <li>
          <button type="button" class="btn btn-link">Waiters</button>
        </li>
        <li>
          <button type="button" class="btn btn-link">Tables</button>
        </li>
      </ul>
    </section>
    <section class="header__menu--right">
      <ul>
        <li>
          <button type="button" class="btn btn-link header__btn-notifications">
            <i class="bi bi-bell"></i>
          </button>
        </li>
        <li>
          <button
            type="button"
            class="btn btn-primary bi bi-person-fill btn-round"
          ></button>
        </li>
      </ul>
    </section>
  </section>
</header>
